<div id="sample-images">
  <h2>Section Title</h2>
  <p class="p2">Some Subtitle</p>
  <section class="sample-images">
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
    <img src="assets/img/sample-image-1.png" />
    <img src="assets/img/sample-image-2.png" />
  </section>
</div>
