<div id="cards">
  <h2>Section Title</h2>
</div>
<section class="cards">
  <div>
    <img src="assets/img/paper-plan.jpg" />
    <p>This picture shows about something very interesting, do you know more?</p>
    <br />
    <a href="#">Link 1</a>
  </div>
  <div>
    <img src="assets/img/plan-map.jpg" />
    <p>This picture shows something different</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
  </div>
  <div>
    <img src="assets/img/mobile-laptop.jpg" />
    <p>Here we can see the results of our effort</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <div>
    <img src="assets/img/paper-plan.jpg" />
    <p>This picture shows about something very interesting, do you know more?</p>
    <br />
    <a href="#">Link 1</a>
  </div>
  <div>
    <img src="assets/img/plan-map.jpg" />
    <p>This picture shows something different</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
  </div>
  <div>
    <img src="assets/img/mobile-laptop.jpg" />
    <p>Here we can see the results of our effort</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <div>
    <img src="assets/img/paper-plan.jpg" />
    <p>This picture shows about something very interesting, do you know more?</p>
    <br />
    <a href="#">Link 1</a>
  </div>
  <div>
    <img src="assets/img/plan-map.jpg" />
    <p>This picture shows something different</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
  </div>
  <div>
    <img src="assets/img/mobile-laptop.jpg" />
    <p>Here we can see the results of our effort</p>
    <br />
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</section>
