<div id="cards" class="section-title">
  <h2>Proyectos Destacados</h2>
</div>

<section class="cards-container">
  
  <div class="card">
    <div class="card-image-wrapper">
      <img src="assets/gramola.png" alt="Gramola App" class="project-img">
    </div>
    
    <div class="card-body">
      <h3>Gramola (SaaS Musical)</h3>
      <p>
        Arquitectura de microservicios para gestión musical. El reto: sincronización en tiempo real con la <strong>API de Spotify</strong> y despliegue contenerizado.
      </p>
      
      <div class="tech-stack">
        <span>Java Spring Boot</span>
        <span>Angular</span>
        <span>Docker</span>
      </div>

      <a href="https://github.com/marioRodriguezbol/gramola" target="_blank" class="btn-card">
        <i class="fab fa-github"></i> Ver en GitHub
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-image-wrapper">
      <img src="assets/asociacionIker.jpeg" alt="Ecommerce ONG" class="project-img">
    </div>

    <div class="card-body">
      <h3>E-commerce Asociación</h3>
      <p>
        Transformación digital para cliente real. Del papel a la web: e-commerce seguro, gestión de socios y cumplimiento legal (RGPD) en producción.
      </p>
      
      <div class="tech-stack">
        <span>WordPress</span>
        <span>PHP</span>
        <span>Consultoría</span>
      </div>

      <a href="assets/AsociacionIkerPdf" target="_blank" class="btn-card">
  <i class="fas fa-file-pdf"></i> Ver Caso de Estudio
</a>
    </div>
  </div>

 <div class="card">
    <div class="card-image-wrapper">
      <img src="assets/reproductor.png" alt="Reproductor Inteligente" class="project-img">
    </div>

    <div class="card-body">
      <h3>Smart Player (Control por Voz)</h3>
      <p>
        Reproductor web interactivo. Su punto fuerte: integración con la <strong>Web Speech API</strong> para controlar la reproducción (play, pausa, volumen) mediante comandos de voz en tiempo real.
      </p>
      
      <div class="tech-stack">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Web Speech API</span>
      </div>

      <a href="https://github.com/mariorodriguezbol/reproductor-multimedia" target="_blank" class="btn-card">
        <i class="fab fa-github"></i> Ver Código
      </a>
    </div>
  </div>
</section>