<header class="header">
  <a href="./"><img src="favicon.ico" alt="" class="logo" /></a>
  <ul class="nav-menu">
    <li class="nav-item">
      <a href="#" class="nav-link">Menu option 1</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Menu option 2</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Menu option 3</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Menu option 4</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>
