<section class="hero column">
  <div>
    <h1>Great heading</h1>
    <br />
    <p>
      Opening description with a first sentence.<br />
      More description with an other sentence.<br />
      <b>Concept:</b> one sentence explaining the definition.
    </p>
    <div id="primary-links">
      <a href="#" class="button">Call to action 1</a>
      <a href="#" class="button">Call to action 2</a>
    </div>
  </div>
  <!-- original size: 512x640 -->
  <div><img src="assets/img/hero-man.jpg" alt="" /></div>
</section>
