<footer id="footer">
  <div class="container">
    
    <h3>Mario Rodríguez Bolaños</h3>
    <p>Ingeniero de Software | Full Stack </p>
    
    <div class="social-links">
      <a href="https://github.com/marioRodriguezbol" target="_blank" class="github">
        <i class="fab fa-github"></i>
      </a>
      
      <a href="https://linkedin.com/in/mario-rodríguez-bolaños-2ba1793a3" target="_blank" class="linkedin">
        <i class="fab fa-linkedin"></i>
      </a>
      
      <a href="mailto:mariorodrigbolanos@gmail.com" class="email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <div class="copyright">
      &copy; 2026 <strong>Mario Rodríguez</strong>. Todos los derechos reservados.
    </div>
    
  </div>
</footer>