<section class="contact" id="contact">
  
  <h2 class="section-title">¿Hablamos?</h2>
  
  <p class="contact-text">
    Como estudiante de último curso, busco una oportunidad para aplicar mis conocimientos en un entorno real. 
    <br><br>
    Tengo muchas ganas de aprender, trabajar duro y crecer profesionalmente junto a un equipo experimentado. Si crees que puedo encajar, ¡hablemos!
  </p>

  <a href="mailto:mariorodrigbolanos&#64;gmail.com" class="email-button">
    <i class="fas fa-paper-plane"></i> Enviar Correo
  </a>

</section>