:root {
  --colorp2: #191919;
  --colorprimary: #000000;
  --colorsecondary: #ffffff;
  --colorprimarydivider: #333;
  --colorsecondaryfooter: #aaa;
  --coloraccent: #05f903;
  --colorlinks: #0abefb;
  --ff: "Open Sans", sans-serif;
  --h1: bold 54px/70px var(--ff);
  --h2: bold 36px/36px var(--ff);
  --h3: bold 24px/30px var(--ff);
  --links: bold 18px/18px var(--ff);
  --p2: 30px/36px var(--ff);
  --p: 18px/30px var(--ff);
  --transition: 0.3s ease-in-out;
  --logowidth: 50px;
  --sectionseparation: 100px;
}

h1,
h2,
h3,
p,
.links,
.p2 {
  margin: 0px;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

.links {
  font: var(--links);
}

.p2 {
  font: var(--p2);
}

p {
  font: var(--p);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  padding: 0px;
  margin: auto;
  background-color: var(--colorprimary);
  color: var(--colorsecondary);
}

header,
section {
  width: 90vw;
  max-width: 1080px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--colorlinks);
  font: var(--links);
}

a:hover {
  color: var(--coloraccent);
  transition: var(--transition);
}


@media (max-width: 800px) {
  body.blocked {
    overflow: hidden;
  }
}
