<div id="timeline">
  <h2>Formación Académica</h2>
</div>

<section class="timeline">
  <ul>
    <li style="--item-color:#E24A68">
      <div class="item-header">2024 - 2025</div>
      <div class="item-content">
        <h3 style="font-size: 1.2rem; margin-bottom: 0.5rem;">Erasmus+ Ingeniería Informática</h3>
        <p style="margin-bottom: 0.5rem;"><strong>Università degli Studi di Padova (Italia)</strong></p>
        
      </div>
    </li>

    <li style="--item-color:#1B5F8C">
      <div class="item-header">2022 - 2026</div>
      <div class="item-content">
        <h3 style="font-size: 1.2rem; margin-bottom: 0.5rem;">Grado en Ingeniería Informática</h3>
        <p style="margin-bottom: 0.5rem;"><strong>Universidad de Castilla-La Mancha (UCLM)</strong></p>
        <p>Especialidad: Tecnologías de la Información.</p>
      </div>
    </li>
  </ul>
</section>