<div id="timeline">
  <h2>Timeline</h2>
</div>
<section class="timeline">
  <ul>
    <li style="--item-color:#41516C">
      <div class="item-header">2002</div>
      <div class="item-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam
        fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
    </li>
    <li style="--item-color:#FBCA3E">
      <div class="item-header">2007</div>
      <div class="item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum
        vero nihil veniam.</div>
    </li>
    <li style="--item-color:#E24A68">
      <div class="item-header">2012</div>
      <div class="item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta
        placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum
        saepe nulla hic.</div>
    </li>
    <li style="--item-color:#1B5F8C">
      <div class="item-header">2017</div>
      <div class="item-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
    </li>
    <li style="--item-color:#4CADAD">
      <div class="item-header">2022</div>
      <div class="item-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
  </ul>
</section>
